**/node_modules/
**/package-lock.json
**/playwright-report/
**/test-results/
**/allure-results/
**/cypress/videos/
**/cypress/screenshots/
**/cypress/reports/**
**/cypress/screenshots/**
**/cypress/videos/**
**/.jsons/**